{% import 'macros/common.html.j2' as macros %}{% import 'macros/wagon_type.html.j2' as macros_wagon_type %}

{% macro train_description(train) %}
  {% for wagon_type, count in train.wagon_type_counter.items() %}
    <span class="app-train-description">
      {{- macros_wagon_type.name(wagon_type, count) -}}
      {%- if not loop.last -%}
        <span>, </span>
      {%- endif -%}
    </span>
  {% endfor %}
{% endmacro %}

{% macro cargo_description(train, results) -%}
  <div class="{% if train.cargo|length <= 1 %}text-truncate{% endif %}">
    {%- for cargo_type, amount in train.cargo.items() -%}
      <span class="app-cargo-description mr-1 text-truncate">
        <img class="app-train-cargo-icon d-inline-block app-icon-sm" src="{{ url_for('static', filename=cargo_type.icon) }}" alt="{{ cargo_type }}">
        <span class="app-train-cargo-amount">{{ amount }}</span>
        {% if cargo_type.is_passengers and train.bonus_incomes %}
          <span class="app-train-bonus-cargo">({{ train.bonus_cargo[cargo_type] }})</span>
        {% endif %}
        <span class="app-train-cargo-name app-text-elide">{{ cargo_type.name.lower() }}</span>
      </span>
    {%- else -%}
      <span class="mr-1" title="No cargo">&mdash;</span>
    {%- endfor -%}
    <span class="app-cargo-rewards ml-1">
      {%- if train.bonus_incomes -%}
        {% for wagon_type in train.bonus_incomes %}
          {{- macros_wagon_type.star_bonus_income(wagon_type) -}}
        {% endfor %}
      {%- endif -%}

      {%- if results.any_train_has_bonus -%}
        {%- if train.bonus_capacity == results.best_bonus_capacity -%}
          {{ macros_wagon_type.star_tier_gold("Highest capacity including bonuses") }}
        {%- endif -%}
        {%- if train.capacity == results.best_capacity -%}
          {{ macros_wagon_type.star_tier_silver("Highest capacity without bonuses") }}
        {%- endif -%}
      {%- else -%}
        {%- if train.capacity == results.best_capacity -%}
          {{ macros_wagon_type.star_tier_gold("Highest capacity") }}
        {%- endif -%}
      {%- endif -%}
    </span>
  </div>
{%- endmacro %}

{% macro speed(train, results) -%}
  <span class="text-truncate">
    <span>{{ train.max_speed }} km/h</span>
    {% if train.max_speed == results.best_max_speed %}
      <span class="app-tier-gold" title="Highest speed">★</span>
    {% endif %}
  </span>
{%- endmacro %}

{% macro weight(train, results) -%}
  {% set empty = train.is_over_recommended_weight_empty() %}
  {% set full = train.is_over_recommended_weight_full() %}
  <span class="app-train-weight text-truncate" title="Weight when empty: {{ train.weight_empty }} tons.&#10;Weight when full: {{ train.weight_full }} tons.&#10;Recommended weight: {{ train.recommended_weight }} tons.&#10;&#10;
    {%- if empty -%}
    Over the recommended weight when empty.
    {%- else -%}
    Under the recommended weight when empty.
    {%- endif -%}
    &#10;
    {%- if full -%}
    Over the recommended weight when full.
    {%- else -%}
    Under the recommended weight when full.
    {%- endif -%}
    &#10;Using {{ "{:.0%}".format(train.weight_usage()) }} of the recommended weight.">
    <span>
      {%- if empty -%}
        <span class="app-app-text-high">{{ train.weight_empty }}</span>
      {%- else -%}
        <span class="app-text-low">{{ train.weight_empty }}</span>
      {%- endif -%}
      &ndash;
      {%- if full -%}
        <span class="app-text-high">{{ train.weight_full }}</span>
      {%- else -%}
        <span class="app-text-low">{{ train.weight_full }}</span>
      {%- endif -%}
    </span>
    <span>tons</span>
    <span class="app-usage-hint app-text-faded">({{ "{:.0%}".format(train.weight_usage()) }})</span>
    {%- if empty or full -%}
      <span>⚠ </span>
    {%- endif -%}
    <span class="app-rewards">
      {% if train.weight_usage() == results.best_weight_usage %}
        {{- macros_wagon_type.star_tier_gold("Highest recommended weight utilization") -}}
      {% endif %}
    </span>
  </span>
{%- endmacro %}

{% macro length(train, options, results) -%}
  {% set long = train.length > options.station_length_long %}
  {% set short = train.length > options.station_length_short %}
  {% set usage = train.length_usage(options.station_length) %}
  <span class="text-truncate {% if long %}text-red{% elif short %}text-fushia{% endif %}" title="Train is {{ "%.2f"|format(train.length) }} tiles long.
    {%- if short -%}
    &#10;Train will not fit in a short station ({{ options.station_length_short }} tiles).
    {%- endif -%}
    {%- if long -%}
    &#10;Train will not fit in a long station ({{ options.station_length_long }} tiles).
    {%- endif -%}
  ">
    <span>{{ "%.2f"|format(train.length) }} tiles</span>
    <span class="app-usage-hint app-text-faded">({{ "{:.0%}".format(usage) }})</span>
    {% if long %}
      <span>⚠</span>
    {% endif %}
    {% if usage == results.best_length_usage %}
      <span class="app-tier-gold" title="Highest station length utilization">★</span>
    {% endif %}
  </span>
{%- endmacro %}

{% macro costs(payments) -%}
  {% for token_type, amount in payments.items() %}
    <div class="d-inline-flex justify-content-start align-items-center" title="{{ amount }} {{ token_type.name|lower }}">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=token_type.icon) }}" alt="{{ token_type }}">
      <span class="d-block">{{ amount }}</span>
    </div>
  {% endfor %}
{%- endmacro %}
