{% macro weight(train) -%}
  {% set empty = train.is_over_recommended_weight_empty() %}
  {% set full = train.is_over_recommended_weight_full() %}
  {% set usage = train.weight_full / train.recommended_weight %}
  <span class="text-truncate" title="Weight when empty: {{ train.weight_empty }} tons.&#10;Weight when full: {{ train.weight_full }} tons.&#10;Recommended weight: {{ train.recommended_weight }} tons.&#10;&#10;
    {%- if empty -%}
    Over the recommended weight when empty.
    {%- else -%}
    Under the recommended weight when empty.
    {%- endif -%}
    &#10;
    {%- if full -%}
    Over the recommended weight when full.
    {%- else -%}
    Under the recommended weight when full.
    {%- endif -%}
    &#10;Using {{ "{:.0%}".format(usage) }} of the recommended weight.">
    <span>
      {%- if empty -%}
        <span class="app-app-text-high">{{ train.weight_empty }}</span>
      {%- else -%}
        <span class="app-text-low">{{ train.weight_empty }}</span>
      {%- endif -%}
      &ndash;
      {%- if full -%}
        <span class="app-text-high">{{ train.weight_full }}</span>
      {%- else -%}
        <span class="app-text-low">{{ train.weight_full }}</span>
      {%- endif -%}
    </span>
    <span>tons</span>
    <span class="app-text-faded">({{ "{:.0%}".format(usage) }})</span>
    {%- if empty or full -%}
      <span>⚠ </span>
    {%- endif -%}
  </span>
{%- endmacro %}

{% macro length(train, options) -%}
  {% set long = train.length > options.station_length_long %}
  {% set short = train.length > options.station_length_short %}
  <span class="text-truncate {% if long %}text-red{% elif short %}text-fushia{% endif %}" title="Train is {{ "%.2f"|format(train.length) }} tiles long.
    {%- if short -%}
    &#10;Train will not fit in a short station ({{ options.station_length_short }} tiles).
    {%- endif -%}
    {%- if long -%}
    &#10;Train will not fit in a long station ({{ options.station_length_long }} tiles).
    {%- endif -%}
  ">
    <span>{{ "%.2f"|format(train.length) }} tiles</span>
    {% if long %}
      <span>⚠</span>
    {% endif %}
  </span>
{%- endmacro %}

{% macro cargo_description(train) -%}
  {%- for cargo_type, amount in train.cargo.items() -%}
    <div class="d-inline-flex justify-content-start align-items-center">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=cargo_type.icon) }}" alt="{{ cargo_type }}">
      <span class="d-block">{{ amount }} {{ cargo_type.name.lower() }}</span>
    </div>
  {%- else -%}
    {{ empty("No cargo") }}
  {%- endfor -%}
  {% if train.effects %}
    <span class="app-effect" title="{{ train.effects|map('string')|join('&#10;') }}">★</span>
  {% endif %}
{%- endmacro %}

{% macro costs(payments) -%}
  {% for token_type, amount in payments.items() %}
    <div class="d-inline-flex justify-content-start align-items-center" title="{{ amount }} {{ token_type.name|lower }}">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=token_type.icon) }}" alt="{{ token_type }}">
      <span class="d-block">{{ amount }}</span>
    </div>
  {% endfor %}
{%- endmacro %}
