{% macro empty(title) -%}
  <span class="app-text-faded" title="{{ title }}">&mdash;</span>
{%- endmacro %}

{%- macro star_depo_upgrade() -%}<span class="app-depo-upgrade" title="Requires locomotive works">⌂</span>{%- endmacro -%}
{%- macro star_quest_reward() -%}<span class="app-quest-reward" title="Quest Reward">★</span>{%- endmacro -%}
{%- macro star_bonus_income(wagon_type) -%}<span class="app-bonus-income" title="Bonus income ({{ wagon_type.bonus_income }}%)">★</span>{%- endmacro -%}
{%- macro star_tier_gold(title) -%}<span class="app-tier-gold" title="Gold tier: {{ title }}">★</span>{%- endmacro -%}
{%- macro star_tier_silver(title) -%}<span class="app-tier-silver" title="Silver tier: {{ title }}">★</span>{%- endmacro -%}
{%- macro star_tier_bronze(title) -%}<span class="app-tier-bronze" title="Bronze tier: {{ title }}">★</span>{%- endmacro -%}

{% macro id(wagon_type) -%}
  <small class="font-monospace text-muted">{{ wagon_type.id }}</small>
{%- endmacro %}

{% macro type(wagon_type) -%}
  <small class="font-monospace text-muted">{{ wagon_type.__class__.__name__ }}</small>
{%- endmacro %}

{%- macro name(wagon_type, count=1) -%}
  {%- if wagon_type.type == "engine" -%}
    {%- set class="app-text-engine" -%}
  {%- elif wagon_type.type == "wagon" -%}
    {%- set class="app-text-wagon" -%}
  {%- elif wagon_type.type == "road_vehicle" -%}
    {%- set class="app-text-road-vehicle" -%}
  {%- endif -%}
  <span title="{{- wagon_type -}}">
    <span class="{{ class }}">{{ wagon_type.name }}</span>
    {% if count > 1 %}
      <span class="app-wagon-type-count"> x{{ count }}</span>
    {% endif %}
    <span class="app-wagon-rewards">
      {%- if wagon_type.depo_upgrade -%}
        {{- star_depo_upgrade() -}}
      {%- endif %}
      {%- if wagon_type.is_quest_reward -%}
        {{- star_quest_reward() -}}
      {%- endif -%}
      {%- if wagon_type.bonus_income -%}
        {{- star_bonus_income(wagon_type) -}}
      {%- endif -%}
    </span>
  </span>
{%- endmacro -%}

{% macro icon(wagon_type, tile_width) -%}
  <img src="{{ url_for('static', filename=wagon_type.icon) }}" alt="{{ wagon_type.name }}" title="{{ wagon_type.name }} [{{ wagon_type.id }}]" width="{{ tile_width * wagon_type.length }}px">
{%- endmacro %}

{% macro icon_single(wagon_type, tile_width, station_length=2) -%}
  <div class="app-tiles" style="width: {{ tile_width * station_length + 1 }}px;">
    {{ icon(wagon_type, tile_width) }}
  </div>
{%- endmacro %}

{% macro icon_train(train, tile_width, station_length) %}
  <div class="app-tiles" style="width: {{ (tile_width * station_length) + 1 }}px;">
    {%- for wagon_type in train -%}
      {{- icon(wagon_type, tile_width) -}}
    {%- endfor -%}
  </div>
{% endmacro %}

{% macro epoch(wagon_type) -%}
  {%- if wagon_type.epoch_start and wagon_type.epoch_end -%}
    <span class="app-epoch" title="{{ wagon_type.epoch_start|title }} to {{ wagon_type.epoch_end|title }}">{{ wagon_type.epoch_start.value }}&ndash;{{ wagon_type.epoch_end.value }}</span>
  {%- elif wagon_type.epoch_start -%}
    <span class="app-epoch" title="{{ wagon_type.epoch_start|title }} onwards">{{ wagon_type.epoch_start.value }}</span>
  {%- else -%}
    {{ empty("Quest reward") }}
  {%- endif -%}
{%- endmacro %}

{% macro track(wagon_type) -%}
  {% if wagon_type.track.value == 0 %}
    {{ empty("Standard track") }}
  {% else %}
    <span>{{ wagon_type.track }}</span>
  {% endif %}
{%- endmacro %}

{% macro weight(wagon_type) -%}
  {% if wagon_type.weight_empty != wagon_type.weight_full %}
    <span class="text-truncate">{{ wagon_type.weight_empty }}&ndash;{{ wagon_type.weight_full }} tons</span>
  {% else %}
    <span class="text-truncate">{{ wagon_type.weight_empty }} tons</span>
  {% endif %}
{%- endmacro %}

{% macro length(wagon_type) -%}
  <span class="text-truncate">{{ "%.2f"|format(wagon_type.length) }} tiles</span>
{%- endmacro %}

{% macro costs(payments) -%}
  {% for payment in payments %}
    <div class="d-inline-flex justify-content-start align-items-center">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=payment.token_type.icon) }}" alt="{{ payment.token_type }}">
      <span class="d-block">{{ payment.amount }}</span>
    </div>
  {% endfor %}
{%- endmacro %}

{% macro depo_upgrade(wagon_type) -%}
  <span>{{ 'Yes' if wagon_type.depo_upgrade else 'No' }}</span>
{%- endmacro %}

{# Engines #}

{% macro power(engine) -%}
  <span>{{ engine.power }} hp</span>
{%- endmacro %}

{% macro speed(engine) -%}
  <span>{{ engine.max_speed }} km/h</span>
{%- endmacro %}

{# This isn't actually used, all trains reverse at 19mph. #}
{% macro reverse_speed(engine) -%}
  {% if engine.max_speed_reverse is not none -%}
    <span class="app-text-faded">({{ engine.max_speed_reverse }} km/h)</span>
  {%- endif %}
{%- endmacro %}

{# Wagons and road vehicles #}

{% macro cargo(wagon_type) -%}
  {%- if wagon_type.cargo_type and wagon_type.capacity -%}
    <div class="d-inline-flex justify-content-start align-items-center">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=wagon_type.cargo_type.icon) }}" alt="{{ wagon_type.cargo_type }}">
      <span class="d-block">{{ wagon_type.capacity }} {{ wagon_type.cargo_type.name.lower() if wagon_type.cargo_type.name else 'UNDEFINED' }}</span>
    </div>
  {%- else -%}
    {{ empty("No cargo") }}
  {%- endif -%}
{%- endmacro %}
