* {
    font-variant-numeric: tabular-nums;
    --apple-green: rgb(165, 205, 74); /* Apple green */
    --black: rgb(25, 25, 25); /* Black */
    --burgundy: rgb(123, 35, 51); /* Burgundy */
    --champagne: rgb(206, 200, 146); /* Champagne */
    --chocolate: rgb(95, 58, 43); /* Chocolate */
    --coral-orange: rgb(241, 130, 30); /* Coral orange */
    --fushia: rgb(152, 60, 145); /* Fushia */
    --gold: rgb(198, 160, 55); /* Gold */
    --dark-green: rgb(37, 96, 72); /* Dark green */
    --lavender: rgb(198, 161, 230); /* Lavender */
    --light-blue: rgb(119, 175, 213); /* Light blue */
    --mauve: rgb(148, 106, 110); /* Mauve */
    --navy-blue: rgb(40, 59, 140); /* Navy blue */
    --peach: rgb(235, 166, 100); /* Peach */
    --periwinkle: rgb(107, 123, 180); /* Periwinkle */
    --pink: rgb(227, 173, 192); /* Pink */
    --purple: rgb(98, 56, 140); /* Purple */
    --lotos: rgb(180, 55, 90); /* Lotos */
    --royal-blue: rgb(1, 75, 185); /* Royal blue */
    --sage-green: rgb(121, 136, 19); /* Sage green */
    --silver: rgb(128, 128, 128); /* Silver */
    --turquoise: rgb(59, 161, 170); /* Turquoise */
    --white: rgb(216, 216, 216); /* White */
    --willow-green: rgb(122, 149, 108); /* Willow green */
    --yellow: rgb(235, 220, 61); /* Yellow */
    --red: rgb(179, 10, 0); /* Red */

    --bs-nav-pills-link-active-bg: var(--royal-blue);
    --bs-nav-link-color: var(--royal-blue);
}

code {
    color: var(--bs-secondary);
}

.card-body .table tr:last-of-type th,
.card-body .table tr:last-of-type td {
    border-bottom: none;
}

.app-text-faded {
    color: var(--bs-gray-400)
}

tr:hover .app-text-faded,
.app-text-faded:hover {
    color: var(--bs-gray-600)
}


.app-icon-sm {
    height: 16px;
}

.app-icon-md {
    height: 32px;
}

.app-icon-lg {
    height: 64px;
}

.app-tiles-container {
    overflow-x: hidden;
    white-space: nowrap;
}

.app-tiles {
    overflow-x: visible;
    white-space: nowrap;

    /*--app-tiles-width: 100px;*/
    /*--app-tiles-a: rgba(107, 123, 180, 0.2); !* var(--periwinkle); *!*/
    /*--app-tiles-b: rgba(119, 175, 213, 0.2); !* var(--light-blue); *!*/

    /*background-color: var(--app-tiles-b);*/
    /*background-image: linear-gradient(to right, var(--app-tiles-a), var(--app-tiles-a) var(--app-tiles-width), var(--app-tiles-b) var(--app-tiles-width), var(--app-tiles-b) );*/
    /*background-size: calc(var(--app-tiles-width) * 2) 100%;*/

    /*padding-bottom: 1px;*/
    /*border-bottom: 1px solid var(--silver);*/
    /*margin-bottom: 1px;*/
}

.app-best {
    color: var(--gold);
}

.app-text-apple-green { color: var(--apple-green); }
.app-text-black { color: var(--black); }
.app-text-burgundy { color: var(--burgundy); }
.app-text-champagne { color: var(--champagne); }
.app-text-chocolate { color: var(--chocolate); }
.app-text-coral-orange { color: var(--coral-orange); }
.app-text-fushia { color: var(--fushia); }
.app-text-gold { color: var(--gold); }
.app-text-dark-green { color: var(--dark-green); }
.app-text-lavender { color: var(--lavender); }
.app-text-light-blue { color: var(--light-blue); }
.app-text-mauve { color: var(--mauve); }
.app-text-navy-blue { color: var(--navy-blue); }
.app-text-peach { color: var(--peach); }
.app-text-periwinkle { color: var(--periwinkle); }
.app-text-pink { color: var(--pink); }
.app-text-purple { color: var(--purple); }
.app-text-lotos { color: var(--lotos); }
.app-text-royal-blue { color: var(--royal-blue); }
.app-text-sage-green { color: var(--sage-green); }
.app-text-silver { color: var(--silver); }
.app-text-turquoise { color: var(--turquoise); }
.app-text-white { color: var(--white); }
.app-text-willow-green { color: var(--willow-green); }
.app-text-yellow { color: var(--yellow); }
.app-text-red { color: var(--red); }

.app-text-engine { color: var(--royal-blue); }
.app-text-wagon { color: var(--periwinkle); }
.app-text-road-vehicle { color: var(--sage-green); }
.app-text-cargo { color: var(--chocolate); }

.app-text-low { }
.app-text-med { color: var(--fushia); }
.app-text-high { color: var(--red); }
