* {
    font-variant-numeric: tabular-nums;
}

code {
    color: var(--bs-secondary);
}

.text-faded {
    color: var(--bs-gray-400)
}

.app-icon-sm {
    height: 16px;
}

.app-icon-md {
    height: 32px;
}

.app-icon-lg {
    height: 64px;
}
