{% macro id(wagon_type) -%}
  <small class="font-monospace text-muted">{{ wagon_type.id }}</small>
{%- endmacro %}

{% macro type(wagon_type) -%}
  <small class="font-monospace text-muted">{{ wagon_type.__class__.__name__ }}</small>
{%- endmacro %}

{% macro name(wagon_type) -%}
  <strong class="text-success">{{ wagon_type.name }}</strong>
  {% if wagon_type.is_quest_reward %}
    <span title="Quest Reward">★</span>
  {% endif %}
{%- endmacro %}

{% macro icon(wagon_type) -%}
  <img class="app-icon-sm" src="{{ url_for('static', filename=wagon_type.icon) }}" alt="{{ wagon_type.name or wagon_type.id }}">
{%- endmacro %}

{% macro epoch(wagon_type) -%}
  {%- if wagon_type.epoch and wagon_type.epoch_end -%}
    <span title="{{ wagon_type.epoch }} to {{ wagon_type.epoch_end|lower }}">{{ wagon_type.epoch.numeral }}&ndash;{{ wagon_type.epoch_end.numeral }}</span>
  {%- elif wagon_type.epoch -%}
    <span title="{{ wagon_type.epoch }} onwards">{{ wagon_type.epoch.numeral }}</span>
  {%- else -%}
    <span class="text-faded" title="Quest reward">&mdash;</span>
  {%- endif -%}
{%- endmacro %}

{% macro track(wagon_type) -%}
  {% if wagon_type.track.value == 0 %}
    <span class="text-faded">&mdash;</span>
  {% else %}
    <span>{{ wagon_type.track }}</span>
  {% endif %}
{%- endmacro %}

{% macro weight(wagon_type) -%}
  <span>{{ wagon_type.weight }} tons</span>
{%- endmacro %}

{% macro length(wagon_type) -%}
  <span>{{ "%.2f"|format(wagon_type.length) }} tiles</span>
{%- endmacro %}

{% macro costs(payments) -%}
  {% for payment in payments %}
    <div class="d-inline-flex justify-content-start align-items-center">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=payment.token_type.icon) }}" alt="{{ payment.token_type }}">
      <span class="d-block">{{ payment.amount }}</span>
    </div>
  {% endfor %}
{%- endmacro %}


{% macro depo_upgrade(wagon_type) -%}
  <span>{{ 'Required' if wagon_type.depo_upgrade else '&mdash;' }}</span>
{%- endmacro %}

{# Engines #}

{% macro power(engine) -%}
  <span>{{ engine.power }} hp</span>
{%- endmacro %}

{% macro speed(engine) -%}
  <span>{{ engine.max_speed }} km/h</span>
{%- endmacro %}

{# This isn't actually used, all trains reverse at 19mph. #}
{% macro reverse_speed(engine) -%}
  {% if engine.max_speed_reverse is not none -%}
    <span class="text-faded">({{ engine.max_speed_reverse }} km/h)</span>
  {%- endif %}
{%- endmacro %}

{# Wagons and road vehicles #}

{% macro cargo(wagon_type) -%}
  {%- if wagon_type.cargo_type is not none -%}
    <div class="d-inline-flex justify-content-start align-items-center">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=wagon_type.cargo_type.icon) }}" alt="{{ wagon_type.cargo_type }}">
      <span class="d-block">{{ wagon_type.capacity }}</span>
    </div>
  {%- else -%}
    &mdash;
  {%- endif -%}
{%- endmacro %}
