{% macro empty(title) -%}
  <span class="text-faded" title="{{ title }}">&mdash;</span>
{%- endmacro %}

{% macro id(wagon_type) -%}
  <small class="font-monospace text-muted">{{ wagon_type.id }}</small>
{%- endmacro %}

{% macro type(wagon_type) -%}
  <small class="font-monospace text-muted">{{ wagon_type.__class__.__name__ }}</small>
{%- endmacro %}

{% macro name(wagon_type) -%}
  <strong class="text-success">{{ wagon_type.name }}</strong>
  {% if wagon_type.is_quest_reward %}
    <span title="Quest Reward">★</span>
  {% endif %}
{%- endmacro %}

{% macro icon(wagon_type, tile_width) -%}
  <div class="app-bg-tiles" style="width: {{ tile_width * 2 }}px;">
    <img src="{{ url_for('static', filename=wagon_type.icon) }}" alt="{{ wagon_type.name or wagon_type.id }}" width="{{ tile_width * wagon_type.length }}px">
  </div>
{%- endmacro %}

{% macro epoch(wagon_type) -%}
  {%- if wagon_type.epoch_start and wagon_type.epoch_end -%}
    <span title="{{ wagon_type.epoch_start }} to {{ wagon_type.epoch_end|lower }}">{{ wagon_type.epoch_start.numeral }}&ndash;{{ wagon_type.epoch_end.numeral }}</span>
  {%- elif wagon_type.epoch_start -%}
    <span title="{{ wagon_type.epoch_start }} onwards">{{ wagon_type.epoch_start.numeral }}</span>
  {%- else -%}
    {{ empty("Quest reward") }}
  {%- endif -%}
{%- endmacro %}

{% macro track(wagon_type) -%}
  {% if wagon_type.track.value == 0 %}
    {{ empty("Standard track") }}
  {% else %}
    <span>{{ wagon_type.track }}</span>
  {% endif %}
{%- endmacro %}

{% macro weight(wagon_type) -%}
  {% if wagon_type.weight_empty != wagon_type.weight_full %}
    <span class="text-truncate">{{ wagon_type.weight_empty }}&ndash;{{ wagon_type.weight_full }} tons</span>
  {% else %}
    <span class="text-truncate">{{ wagon_type.weight_empty }} tons</span>
  {% endif %}

{%- endmacro %}

{% macro recommended_weight(wagon_type) -%}
  <span class="text-truncate">{{ wagon_type.recommended_weight }} tons</span>
{%- endmacro %}

{% macro length(wagon_type) -%}
  <span class="text-truncate">{{ "%.2f"|format(wagon_type.length) }} tiles</span>
{%- endmacro %}

{% macro costs(payments) -%}
  {% for payment in payments %}
    <div class="d-inline-flex justify-content-start align-items-center">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=payment.token_type.icon) }}" alt="{{ payment.token_type }}">
      <span class="d-block">{{ payment.amount }}</span>
    </div>
  {% endfor %}
{%- endmacro %}

{% macro depo_upgrade(wagon_type) -%}
  <span>{{ 'Yes' if wagon_type.depo_upgrade else 'No' }}</span>
{%- endmacro %}

{# Engines #}

{% macro power(engine) -%}
  <span>{{ engine.power }} hp</span>
{%- endmacro %}

{% macro speed(engine) -%}
  <span>{{ engine.max_speed }} km/h</span>
{%- endmacro %}

{# This isn't actually used, all trains reverse at 19mph. #}
{% macro reverse_speed(engine) -%}
  {% if engine.max_speed_reverse is not none -%}
    <span class="text-faded">({{ engine.max_speed_reverse }} km/h)</span>
  {%- endif %}
{%- endmacro %}

{# Wagons and road vehicles #}

{% macro cargo(wagon_type) -%}
  {%- if wagon_type.cargo_type is not none -%}
    <div class="d-inline-flex justify-content-start align-items-center">
      <img class="d-block mx-1 app-icon-sm" src="{{ url_for('static', filename=wagon_type.cargo_type.icon) }}" alt="{{ wagon_type.cargo_type }}">
      <span class="d-block">{{ wagon_type.capacity }}</span>
    </div>
  {%- else -%}
    {{ empty("No cargo") }}
  {%- endif -%}
{%- endmacro %}

{# Trains #}

{% macro limits(train) %}
  {% if train.limited_by_length %}
    <span class="app-limit-length badge">Station length</span>
  {% endif %}

  {% if train.limited_by_weight %}
    <span class="app-limit-weight badge">Recommended weight</span>
  {% endif %}

  {% if not train.limited_by_length and not train.limited_by_weight %}
    {{ empty("Not limited by length or weight") }}
  {% endif %}
{% endmacro %}

{% macro train(train, tile_width) %}
  <div class="app-bg-tiles" style="width: {{ (tile_width * train.station_length) + 1 }}px;">
    {%- for wagon_type in train -%}
      <img src="{{ url_for('static', filename=wagon_type.icon) }}" alt="{{ wagon_type.name or wagon_type.id }}" width="{{ tile_width * wagon_type.length }}px">
    {%- endfor -%}
  </div>
{% endmacro %}
