<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Mashinky Toolkit</title>
</head>
<body>

<nav class="navbar bg-dark">
  <div class="container-xl">
    <a class="navbar-brand text-bg-dark" href="{{ url_for('home') }}">Mashinky Toolkit</a>
    <a class="navbar-item text-bg-dark" href="{{ url_for('home') }}" >Trains</a>
    <a class="navbar-item text-bg-dark" href="{{ url_for('home') }}" >Engines</a>
    <a class="navbar-item text-bg-dark" href="{{ url_for('home') }}" >Wagons</a>
    <a class="navbar-item text-bg-dark" href="{{ url_for('home') }}" >Road vehicles</a>
    <a class="navbar-item text-bg-dark" href="{{ url_for('data') }}" >Data</a>
  </div>
</nav>


<div class="container-xl mt-3">
  {% block page %}
  {% endblock page %}
</div>

</body>
</html>
