{% extends '_base.html.j2' %}
{% import '_macros.html.j2' as macros %}
{% block page %}
  <section>
    <h1>Cargo types {{ macros.count(cargo_types) }}</h1>
    <div class="d-flex flex-wrap align-self-stretch">
      {% for cargo_type in cargo_types %}
        <div class="w-25 p-1">
          <div class="card h-100">
            <div class="card-body d-flex align-items-center p-1">
              <img class="mx-1" src="{{ url_for('static', filename=cargo_type.icon) }}" alt="{{ cargo_type.name or cargo_type.icon }}" width="32px" height="32px">
              <div class="mx-1">
                {% if cargo_type.name %}
                  <div class="card-text text-info">{{ cargo_type.name }}</div>
                {% else %}
                  <div class="card-text text-muted">{{ undefined }}</div>
                {% endif %}
                <code class="card-text text-muted">{{ cargo_type.id }}</code>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
