{% extends '_base.html.j2' %}{% import 'macros/common.html.j2' as macros %}{% import 'macros/wagon_type.html.j2' as macros_wagon_type %}{% import 'macros/train.html.j2' as macros_train %}
{% block content %}
  <section class="container-fluid">
    <div class="row my-3">
      <div class="col">
        <div class="card app-trains-search">
          <div class="card-header d-flex justify-content-between">
            <strong>Epoch</strong>
            <a href="{{ options.start_again_from_epoch() }}">Start again</a>
          </div>
          <div class="card-body">
            <ul class="nav nav-pills nav-fill">
              {% for epoch in Epoch %}
                <li class="nav-item">
                  <a class="nav-link {% if epoch == options.epoch %}active{% endif %}" href="{{ options.switch_epoch(epoch) }}">
                    {{ epoch.numeral }}. {{ epoch }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <form action="" method="get" class="my-3">
      <div class="row g-3">
        <input type="hidden" name="epoch" value="{{ options.epoch.value }}">

        <!-- Options -->
        <div class="col col-lg-3">
          <div class="card h-100 app-trains-search">
            <div class="card-header d-flex justify-content-between">
              <strong>Options</strong>
              <a href="{{ options.start_again_from_options() }}">Start again</a>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <!-- Quest rewards and locomotive works -->
              <div class="app-option-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="true" id="include_depo_upgrade" name="include_depo_upgrade" {% if options.include_depo_upgrade %}checked{% endif %}>
                  <label class="form-check-label" for="include_depo_upgrade">
                    Include engines and wagons that require a locomotive works.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="true" id="include_quest_reward" name="include_quest_reward" {% if options.include_quest_reward %}checked{% endif %}>
                  <label class="form-check-label" for="include_quest_reward">
                    Include engines and wagons rewarded by quests.
                  </label>
                </div>
              </div>

              <!-- Maximum Weight -->
              <div class="app-option-group">
                <div class="mb-1">
                  <strong class="form-label">Maximum weight</strong>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_weight" value="full" id="maximum_weight_full" {% if options.maximum_weight.value == "full" %}checked{% endif %}>
                  <label class="form-check-label app-text-low" for="maximum_weight_full">
                    Train must be below the recommended weight when full.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_weight" value="empty" id="maximum_weight_empty" {% if options.maximum_weight.value == "empty" %}checked{% endif %}>
                  <label class="form-check-label app-text-med" for="maximum_weight_empty">
                    Train must be below the recommended weight when empty.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_weight" value="infinite" id="maximum_weight_infinite" {% if options.maximum_weight.value == "infinite" %}checked{% endif %}>
                  <label class="form-check-label app-text-high" for="maximum_weight_infinite">
                    No limit on train weight.
                  </label>
                </div>
              </div>

              <!-- Maximum Length -->
              <div class="app-option-group">
                <div class="mb-1">
                  <strong class="form-label">Maximum length</strong>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_length" value="short" id="maximum_length_short" {% if options.maximum_length.value == "short" %}checked{% endif %}>
                  <label class="form-check-label app-text-low" for="maximum_length_short">
                    Train must fit in a short station ({{ options.station_length_short }} tiles).
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_length" value="long" id="maximum_length_long" {% if options.maximum_length.value == "long" %}checked{% endif %}>
                  <label class="form-check-label app-text-med" for="maximum_length_long">
                    Train must fit in a long station ({{ options.station_length_long }} tiles).
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_length" value="infinite" id="maximum_length_infinite" {% if options.maximum_length.value == "infinite" %}checked{% endif %}>
                  <label class="form-check-label app-text-high" for="maximum_length_infinite">
                    No limit on train length.
                  </label>
                </div>
              </div>

              <!-- Station length -->
              <!-- <div class="app-option-group">
                <div class="input-group input-group-sm mb-1">
                  <label class="input-group-text w-50" for="station_length_short">Station length (short)</label>
                  <input class="form-control" type="number" id="station_length_short" name="station_length_short" min="1" value="{{ options.station_length_short }}">
                </div>
                <div class="input-group input-group-sm">
                  <label class="input-group-text w-50" for="station_length_long">Station length (long)</label>
                  <input class="form-control" type="number" id="station_length_long" name="station_length_long" min="1" value="{{ options.station_length_long }}">
                </div>
              </div> -->

            </div>
          </div>
        </div>

        <!-- Selection -->
        <div class="col col-lg-6">
          <div class="card h-100 app-trains-search">
            <div class="card-header d-flex justify-content-between">
              <strong>Selection</strong>
              <a href="{{ options.start_again_from_selection() }}" title="Reset everything but epoch and options.">Start again</a>
            </div>
            <div class="card-body">
              <div class="row">
                <!-- Engines -->
                <div class="col">
                  <select class="form-select form-select-sm" id="engines" name="engine_id" multiple size="12">
                    {% for engine in results.all_engines %}
                      <option value="{{ engine.id }}" {% if engine in results.selected_engines %}selected{% endif %}>{{ engine.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Wagons -->
                <div class="col">
                  <select class="form-select form-select-sm" id="wagons" name="wagon_id" multiple size="12">
                    {% for wagon in results.all_wagons %}
                      <option value="{{ wagon.id }}" {% if wagon in results.selected_wagons %}selected{% endif %}>{{ wagon.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Cargo -->
                <div class="col">
                  <select class="form-select form-select-sm" id="wagons" name="cargo_type_id" multiple size="12">
                    {% for cargo_type in results.all_cargos %}
                      <option value="{{ cargo_type.id }}" {% if cargo_type in results.selected_cargos %}selected{% endif %}>{{ cargo_type.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


            </div>
          </div>
        </div>

        <!-- Search -->
        <div class="col col-lg-3">
          <div class="card h-100 app-trains-search">
            <div class="card-header d-flex justify-content-between">
              <strong>Search</strong>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="row">
                <p>
                  Collected {{ results.trains|length }} trains.
                  <span class="app-text-faded">Generated {{ results.after_generate|length }} trains,
                    removed {{ results.after_generate|length - results.after_deduplicate|length }} duplicated trains,
                    removed {{ results.after_deduplicate|length - results.after_filter|length }} trains over limits,
                    removed {{ results.after_filter|length - results.after_discard_empty|length }} empty trains,
                    removed {{ results.after_discard_empty|length - results.after_discard_extra|length }} trains with too many engines.
                  </span>
                </p>
                <p>
                  {% if results.selected_engines %}
                    Using {{ results.selected_engines|length }} engines:
                    {% for wagon_type in results.selected_engines %}
                      {{- macros_wagon_type.name(wagon_type) -}}
                      {{- macros.comma(loop) -}}
                    {% endfor %}.
                  {% else %}
                    Using all {{ results.all_engines|length }} engines.
                  {% endif %}
                </p>
                <p>
                  {% if results.selected_wagons %}
                    Using {{ results.selected_wagons|length }} wagons:
                    {% for wagon_type in results.selected_wagons %}
                      {{- macros_wagon_type.name(wagon_type) -}}
                      {{- macros.comma(loop) -}}
                    {% endfor %}.
                  {% else %}
                    Using all {{ results.all_wagons|length }} wagons.
                  {% endif %}
                </p>
                <p>
                  {% if results.selected_cargos %}
                    Using {{ results.selected_cargos|length }} types of cargo:
                    {% for cargo_type in results.selected_cargos -%}
                      <span class="app-text-cargo">{{- cargo_type -}}</span>
                      {{- macros.comma(loop) -}}
                    {%- endfor %}.
                  {% else %}
                    Using all {{ results.all_cargos|length }} types of cargo.
                  {% endif %}
                </p>
              </div>
              <div class="row mt-3">
                <div class="input-group">
                  <button class="btn btn-outline-primary flex-fill" type="submit">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row my-3">
      <div class="col">
        <div class="card app-trains-search">
          <div class="card-header">
            <strong>Results</strong>
          </div>
          <div class="card-body p-0">
            <table class="table table-sm table-hover table-responsive align-middle mb-0">
              <thead class="thead-light align-top">
              <tr>
                <th class="text-start ps-3">Train</th>
                <th class="text-start">Description</th>
                <th class="text-start">Cargo</th>
                <th class="text-start">Speed</th>
                <th class="text-start">Weight</th>
                <th class="text-start">Length</th>
                <th class="text-start">Cost</th>
                <th class="text-start">Fuel</th>
              </tr>
              </thead>
              <tbody class="table-group-divider">
              {% for train in results.trains %}
                {% set long = train.length > options.station_length %}
                {% if long %}
                  <tr>
                    <td class="text-start px-0 border-bottom-0 app-tiles-container" colspan="100%">{{- macros_wagon_type.icon_train(train, tile_width, options.station_length_long) -}}</td>
                  </tr>
                {% endif %}
                <tr>
                  <td class="text-start ps-2 app-tiles-container">
                    {% if not long %}{{- macros_wagon_type.icon_train(train, tile_width, options.station_length) -}}{% endif %}</td>
                  <td class="text-start">{{ macros_train.train_description(train) }}</td>
                  <td class="text-start">{{ macros_train.cargo_description(train, results=results) }}
                  <td class="text-start">{{ macros_train.speed(train, results=results) }}</td>
                  <td class="text-start">{{ macros_train.weight(train, results=results) }}</td>
                  <td class="text-start">{{ macros_train.length(train, options=options, results=results) }}</td>
                  <td class="text-start">{{ macros_train.costs(train.cost) }}</td>
                  <td class="text-start">{{ macros_train.costs(train.fuel) }}</td>
                </tr>
              {% else %}
                <tr>
                  <td class="text-center text-muted fst-italic p-3" colspan="100%">No results</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% if results.suggestions %}
      <div class="row">
        <div class="col">
          <div class="card app-trains-search">
            <div class="card-header">
              <strong>Mixed wagon suggestions used</strong>
            </div>
            <div class="card-body p-0">
              <table class="table table-sm table-hover table-responsive align-middle mb-0">
                <thead class="thead-light align-top">
                <tr>
                  <th class="text-muted ps-3">Primary wagon</th>
                  <th class="text-muted">Secondary wagons</th>
                  <th class="text-muted">Primary wagon</th>
                  <th class="text-muted">Secondary wagons</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for primary, suggestions in results.suggestions.items() %}
                  {% for suggestion in suggestions %}
                    <tr>
                      <td class="text-start ps-3">
                        {{ macros_wagon_type.icon(primary, tile_width=tile_width) }}
                      </td>
                      <td class="text-start">
                        {% for secondary in suggestion %}
                          {{ macros_wagon_type.icon(secondary, tile_width=tile_width) }}
                        {% endfor %}
                      </td>
                      <td class="text-start">
                        {{ macros_wagon_type.name(primary) }}
                      </td>
                      <td class="text-start">
                        {% for secondary in suggestion %}
                          {{- macros_wagon_type.name(secondary) -}}
                          {%- if not loop.last %}<span>, </span>{% endif -%}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </section>

{% endblock %}
