{% extends '_base.html.j2' %}{% import 'macros/common.html.j2' as macros %}{% import 'macros/wagon_type.html.j2' as macros_wagon_type with context %}{% import 'macros/train.html.j2' as macros_train %}
{% block content %}
  <section class="container-fluid">
    <div class="row my-3">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Epoch
          </div>
          <div class="card-body">
            <ul class="nav nav-pills nav-fill">
              {% for epoch in Epoch %}
                <li class="nav-item">
                  <a class="nav-link {% if epoch == options.epoch %}active{% endif %}" href="{{ url_for('trains', epoch=epoch.value) }}">
                    {{ epoch.numeral }}. {{ epoch }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <form action="" method="get">
      <input type="hidden" name="epoch" value="{{ options.epoch.value }}">
      <div class="row row-cols-2 g-3">

        <!-- Options -->
        <div class="col col-lg-3 app-options">
          <div class="card h-100">
            <div class="card-header">
              Options
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <!-- Quest rewards and locomotive works -->
              <div class="app-option-group">
                <div class="mb-1">
                  <strong class="form-label">Filters</strong>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="true" id="include_depo_upgrade" name="include_depo_upgrade" {% if options.include_depo_upgrade %}checked{% endif %}>
                  <label class="form-check-label" for="include_depo_upgrade">
                    Include engines and wagons that require a locomotive works.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="true" id="include_quest_reward" name="include_quest_reward" {% if options.include_quest_reward %}checked{% endif %}>
                  <label class="form-check-label" for="include_quest_reward">
                    Include engines and wagons rewarded by quests.
                  </label>
                </div>
              </div>

              <!-- Maximum Weight -->
              <div class="app-option-group">
                <div class="mb-1">
                  <strong class="form-label">Maximum weight</strong>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_weight" value="full" id="maximum_weight_full" {% if options.maximum_weight.value == "full" %}checked{% endif %}>
                  <label class="form-check-label app-text-low" for="maximum_weight_full">
                    Train must be below the recommended weight when full.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_weight" value="empty" id="maximum_weight_empty" {% if options.maximum_weight.value == "empty" %}checked{% endif %}>
                  <label class="form-check-label app-text-med" for="maximum_weight_empty">
                    Train must be below the recommended weight when empty.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_weight" value="infinite" id="maximum_weight_infinite" {% if options.maximum_weight.value == "infinite" %}checked{% endif %}>
                  <label class="form-check-label app-text-high" for="maximum_weight_infinite">
                    No limit on train weight.
                  </label>
                </div>
              </div>

              <!-- Maximum Length -->
              <div class="app-option-group">
                <div class="mb-1">
                  <strong class="form-label">Maximum length</strong>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_length" value="short" id="maximum_length_short" {% if options.maximum_length.value == "short" %}checked{% endif %}>
                  <label class="form-check-label app-text-low" for="maximum_length_short">
                    Train must fit in a short station ({{ options.station_length_short }} tiles).
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_length" value="long" id="maximum_length_long" {% if options.maximum_length.value == "long" %}checked{% endif %}>
                  <label class="form-check-label app-text-med" for="maximum_length_long">
                    Train must fit in a long station ({{ options.station_length_long }} tiles).
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="maximum_length" value="infinite" id="maximum_length_infinite" {% if options.maximum_length.value == "infinite" %}checked{% endif %}>
                  <label class="form-check-label app-text-high" for="maximum_length_infinite">
                    No limit on train length.
                  </label>
                </div>
              </div>

              <!-- Station length -->
              <div class="app-option-group">
                <div class="input-group input-group-sm mb-1">
                  <label class="input-group-text w-50" for="station_length_short">Station length (short)</label>
                  <input class="form-control" type="number" id="station_length_short" name="station_length_short" min="1" value="{{ options.station_length_short }}">
                </div>
                <div class="input-group input-group-sm">
                  <label class="input-group-text w-50" for="station_length_long">Station length (long)</label>
                  <input class="form-control" type="number" id="station_length_long" name="station_length_long" min="1" value="{{ options.station_length_long }}">
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Selection -->
        <div class="col col-lg-6">
          <div class="card h-100">
            <div class="card-header">Selection</div>
            <div class="card-body">
              <div class="row">
                <!-- Engines -->
                <div class="col">
                  <select class="form-select form-select-sm" id="engines" name="engine_id" multiple size="13">
                    {% for engine in results.all_engines %}
                      <option value="{{ engine.id }}" {% if engine in results.selected_engines %}selected{% endif %}>{{ engine.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Wagons -->
                <div class="col">
                  <select class="form-select form-select-sm" id="wagons" name="wagon_id" multiple size="13">
                    {% for wagon in results.all_wagons %}
                      <option value="{{ wagon.id }}" {% if wagon in results.selected_wagons %}selected{% endif %}>{{ wagon.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Cargo -->
                <div class="col">
                  <select class="form-select form-select-sm" id="wagons" name="cargo_type_id" multiple size="13">
                    {% for cargo_type in results.all_cargos %}
                      <option value="{{ cargo_type.id }}" {% if cargo_type in results.selected_cargos %}selected{% endif %}>{{ cargo_type.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row mt-3">
                <div class="input-group">
                  <button class="btn btn-outline-primary flex-fill" type="submit">Search</button>
                  <button class="btn btn-outline-secondary" type="reset">Undo</button>
                  <a class="btn btn-outline-secondary" href="{{ url_for('trains', epoch=options.epoch.value, include_depo_upgrade=options.include_depo_upgrade, include_quest_reward=options.include_quest_reward) }}">Reset</a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Results -->
        <div class="col col-lg-3">
          <div class="card h-100">
            <div class="card-header">
              Results
            </div>
            <div class="card-body">
              <p>
                Collected {{ results.trains|length }} trains.
                <span class="app-text-faded">Generated {{ results.after_generate|length }} trains,
                  removed {{ results.after_generate|length - results.after_deduplicate|length }} duplicated trains,
                  removed {{ results.after_deduplicate|length - results.after_discard|length }} trains with unused engines,
                  removed {{ results.after_discard|length - results.after_filter|length }} trains over limits.
                </span>
              </p>
              <p>
                <span>
                  Using {{ results.selected_engines|length }} engines:
                  {% for wagon_type in results.selected_engines %}
                    {{- macros_wagon_type.name(wagon_type) -}}
                    {{- macros.comma(loop) -}}
                  {% endfor %}.
                </span>
              </p>
              <p>
                <span>
                  Using {{ results.selected_wagons|length }} wagons:
                  {% for wagon_type in results.selected_wagons %}
                    {{- macros_wagon_type.name(wagon_type) -}}
                    {{- macros.comma(loop) -}}
                  {% endfor %}.
                </span>
              </p>
              <p>
                <span>
                  Using {{ results.selected_cargos|length }} types of cargo:
                  {% for cargo_type in results.selected_cargos -%}
                    <span class="app-text-cargo">{{- cargo_type -}}</span>
                    {{- macros.comma(loop) -}}
                  {%- endfor %}.
                </span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </form>
  </section>

  <section class="container-fluid my-5">
    <table class="table table-sm table-hover table-responsive align-middle app-table-trains">
      <thead class="thead-light align-top">
      <tr>
        <th class="text-start">Train</th>
        <th class="text-start">Description</th>
        <th class="text-start">Cargo</th>
        <th class="text-start">Speed</th>
        <th class="text-start">Weight</th>
        <th class="text-start">Length</th>
        <th class="text-start">Cost</th>
        <th class="text-start">Fuel</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for train in results.trains %}
        {% set long = train.length > options.station_length %}
        {% if long %}
          <tr>
            <td class="text-start px-0 border-bottom-0 app-tiles-container" colspan="100%">{{- macros_wagon_type.icon_train(train, tile_width, options.station_length_long) -}}</td>
          </tr>
        {% endif %}
        <tr>
          <td class="text-start px-0 app-tiles-container">
            {% if not long %}{{- macros_wagon_type.icon_train(train, tile_width, options.station_length) -}}{% endif %}</td>
          <td class="text-start">{{ macros_wagon_type.description(train) }}</td>
          <td class="text-start">{{ macros_train.cargo_description(train, results=results) }}
          <td class="text-start">{{ macros_train.speed(train, results=results) }}</td>
          <td class="text-start">{{ macros_train.weight(train, results=results) }}</td>
          <td class="text-start">{{ macros_train.length(train, options=options, results=results) }}</td>
          <td class="text-start">{{ macros_train.costs(train.cost) }}</td>
          <td class="text-start">{{ macros_train.costs(train.fuel) }}</td>
        </tr>
      {% else %}
        <tr>
          <td class="text-center text-muted fst-italic p-3" colspan="100%">No results</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

{#  <section class="container-fluid my-5">#}
{#    <h3>Mixed wagon suggestions used</h3>#}
{#    <table class="table table-sm table-hover table-responsive align-middle app-table-trains">#}
{#      <thead class="thead-light align-top">#}
{#      <tr>#}
{#        <th colspan="2" class="text-muted">Wagon</th>#}
{#        <th colspan="2" class="text-muted">Other wagons</th>#}
{#      </tr>#}
{#      </thead>#}
{#      <tbody>#}
{#      {% for head_wagon, suggestions in results.suggestions.items() %}#}
{#        {% for suggestion in suggestions %}#}
{#          <tr>#}
{#            <td class="text-start">#}
{#              {{ macros_wagon_type.icon_single(head_wagon, tile_width=tile_width) }}#}
{#              {{ macros_wagon_type.name(head_wagon) }}#}
{#            </td>#}
{#            <td class="text-start">#}
{#              {% for tail_wagon in suggestion %}#}
{#                {{ macros_wagon_type.icon_single(tail_wagon, tile_width=tile_width) }}#}
{#                {{ macros_wagon_type.name(tail_wagon) }}#}
{#              {% endfor %}#}
{#            </td>#}
{#          </tr>#}
{#        {% endfor %}#}
{#      {% endfor %}#}
{#      </tbody>#}
{#    </table>#}
{#  </section>#}
{% endblock %}
