{% extends '_base.html.j2' %}{% import '_macros.html.j2' as macros %}{% import '_macros_wagon_type.html.j2' as macros_wagon_type %}
{% block page %}
  <section class="">
    <h1>Wagon types</h1>
  </section>

  <section class="my-5">
    <h2 class="title">Engines {{ macros.count(engines) }}</h2>
    <table class="table table-sm table-hover align-middle">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Icon</th>
        <th>Epoch</th>
        <th>Track</th>
        <th class="text-center">Weight</th>
        <th class="text-center">Length</th>
        <th class="text-center">Power</th>
        <th class="text-center">Speed</th>
        <th class="text-center">Reverse</th>
        <th>Cargo</th>
        <th>Cost</th>
        <th>Fuel</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for engine in engines %}
        <tr>
          <td>{{ macros_wagon_type.id(engine) }}</td>
          <td>{{ macros_wagon_type.type(engine) }}</td>
          <td>{{ macros_wagon_type.name(engine) }}</td>
          <td>{{ macros_wagon_type.icon(engine) }}</td>
          <td>{{ macros_wagon_type.epoch(engine) }}</td>
          <td>{{ macros_wagon_type.track(engine) }}</td>
          <td class="text-end">{{ macros_wagon_type.weight(engine) }}</td>
          <td class="text-end">{{ macros_wagon_type.length(engine) }}</td>
          <td class="text-end">{{ macros_wagon_type.power(engine) }}</td>
          <td class="text-end">{{ macros_wagon_type.speed(engine) }}</td>
          <td class="text-end">{{ macros_wagon_type.reverse_speed(engine) }}</td>
          <td>{{ macros_wagon_type.cargo(engine) }}</td>
          <td>{{ macros_wagon_type.costs(engine.cost) }}</td>
          <td>{{ macros_wagon_type.costs(engine.fuel) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <section class="my-5">
    <h2 class="title">Wagons {{ macros.count(wagons) }}</h2>
    <table class="table table-sm table-hover align-middle">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Icon</th>
        <th>Epoch</th>
        <th>Track</th>
        <th class="text-end">Weight</th>
        <th class="text-end">Length</th>
        <th>Cargo</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for wagon in wagons %}
        <tr>
          <td>{{ macros_wagon_type.id(wagon) }}</td>
          <td>{{ macros_wagon_type.type(wagon) }}</td>
          <td>{{ macros_wagon_type.name(wagon) }}</td>
          <td>{{ macros_wagon_type.icon(wagon) }}</td>
          <td>{{ macros_wagon_type.epoch(wagon) }}</td>
          <td>{{ macros_wagon_type.track(wagon) }}</td>
          <td class="text-end">{{ macros_wagon_type.weight(wagon) }}</td>
          <td class="text-end">{{ macros_wagon_type.length(wagon) }}</td>
          <td>{{ macros_wagon_type.cargo(wagon) }}</td>
          <td>{{ macros_wagon_type.costs(wagon.cost) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <section class="my-5">
    <h2 class="title">Road vehicles {{ macros.count(road_vehicles) }}</h2>
    <table class="table table-sm table-hover align-middle">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Icon</th>
        <th>Epoch</th>
        <th>Track</th>
        <th class="text-end">Weight</th>
        <th class="text-end">Length</th>
        <th>Cargo</th>
        <th>Cost</th>
        <th>Fuel</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for road_vehicle in road_vehicles %}
        <tr>
          <td>{{ macros_wagon_type.id(road_vehicle) }}</td>
          <td>{{ macros_wagon_type.type(road_vehicle) }}</td>
          <td>{{ macros_wagon_type.name(road_vehicle) }}</td>
          <td>{{ macros_wagon_type.icon(road_vehicle) }}</td>
          <td>{{ macros_wagon_type.epoch(road_vehicle) }}</td>
          <td>{{ macros_wagon_type.track(road_vehicle) }}</td>
          <td class="text-end">{{ macros_wagon_type.weight(road_vehicle) }}</td>
          <td class="text-end">{{ macros_wagon_type.length(road_vehicle) }}</td>
          <td>{{ macros_wagon_type.cargo(road_vehicle) }}</td>
          <td>{{ macros_wagon_type.costs(road_vehicle.cost) }}</td>
          <td>{{ macros_wagon_type.costs(road_vehicle.fuel) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
